@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked ~ .dot {
  transform: translateX(100%);
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.select:focus-within .select-menu {
  display: block;
}
